{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    <ul>
        {% for cocktail in cocktail_info %}
            <li>
                <h2><a href="/cocktail_details/{{ cocktail['id'] }}">{{ cocktail['name']}}</a></h2>
                <form action="/save_cocktail" method="post">
                    <button type="submit" value="{{ cocktail }}" name="saved">Save Cocktail to Profile</button>
                </form>
                <img src="{{ cocktail['image'] }}" alt="">
                <p> {{ cocktail['glass']}}</p>
                <p> {{ cocktail['instructions']}}</p>

            </li>
        {% endfor %}
{% endblock %}